.top-color{
  background-color: #9900F0;
  height: 350px
}

body {
  background-color: #EAF6F6;
}

h3 {
  color: #66BFBF;
}

h4 {
  background-color: black;
  color: white;
  width: 20%;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 80%;
}
